:root {
    --blue: #38b9ff;
    --red: #ff2424;
    --black: #222;
    --dark: #444;
    --gray: #666;
    --light: #888;
    --bone: #aaa;
    --smoke: #ccc;
    --snow: #eee;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    /* max-width: 40em; */
}

.title {
    color: white;
    background-color: var(--red);
    text-align: center;
    padding: 0; margin: 0;
}

.recipe {
    color: var(--red);
    font-size: 1.2em;
    display: block;
    width: fit-content;
    margin: .2em;
}

.plate {
    margin: .2em 0; padding: 0;
}

.illus {
    object-fit:cover;
    aspect-ratio: 3/2;
    width: 100%;
}

.caption {
    font-weight: normal;
    text-align: center;
    font-size: 1em;
    color: var(--dark);
    margin: 0;
}

.desc {
    margin: .5em 0 1em;
}

.ingredients {
    margin: .2em 0;
}

.steps {
    margin: .2em 0;
}

@media screen and (min-width: 600px) {
    body {
        max-width: 40em;
    }
}