:root {
    --blue: #38b9ff;
    --red: #ff2424;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    max-width: 40em;
}

.title {
    color: white;
    background-color: var(--red);
    text-align: center;
    padding: 0; margin: 0;
}

.recipe {
    color: var(--red);
    font-size: 1.2em;
    display: block;
    width: fit-content;
    margin: .2em;
}